<div>
    <h1> Student comparison </h1>

    <ul>
        <li> TOTAL : <%- total %>
        </li>
        <li> NIT STUDENT : <%- nitStudents %>
        </li>
        <li> OUTSIDE STUDENT : <%- nonNit %>
        </li>
    </ul>
</div>